
h1{
    background: #2980b9;
    font-family: Robot;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

body{
    font-family: Roboto;
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

li{
    background: white;
    text-align: left;
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n){
    background:  #f7f7f7;
    height: 40px;
    line-height: 40px;
}

#container{
    border: 2px solid gray;
    margin: 100px auto;

    width: 350px;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0 0.1);

}

input{
background:#f7f7f7;
width: 100%;
padding: 13 13 13 20px;
box-sizing: border-box;
color: #2980b9;
font-size: 18px;
}

input:focus{
    background: #ffffff;
    border: 3px solid #2980b9;
    outline: none;
}

.completed{
    color: gray;
    text-decoration: line-through;
}

span{
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

.fas{
   float: right;
}